<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"> 
	<title>eSim</title>
	<link rel="shortcut icon" href="../icons/favicon.ico" />
	<meta charset="UTF-8">
	<link rel="stylesheet" href="style/schematic.css" type="text/css">
	<link rel="stylesheet" href="style/input.css" type="text/css">
	<script type="text/javascript" src="script/jquery-1.10.2.js"></script> 
	<script type="text/javascript" src="script/utils.js"></script>
	<script type="text/javascript" src="script/prototype.js"></script>
	<script type="text/javascript" src="script/chipmaker.js"></script>
	<script type="text/javascript" src="script/wtx2kicad.js"></script>
	<script type="text/javascript" src="script/gui.js"></script>
	<script type="text/javascript" src="script/netlist.js"></script>
	<script type="text/javascript" src="script/canvg.js"></script>
	<script type="text/javascript" src="script/rgbcolor.js"></script>
	<script type="text/javascript" src="script/savenetlist.js"></script>
	<script src="script/plotly-latest.min.js"></script>

</head><body>

<div id="webtronics_main_window">
<!--
toolbar
-->
<div id="webtronics_toolbar">
	<table><tr><td>
		<a href="http://esim.fossee.in/" target="_blank" ><img src="icons/images.jpeg"/></a>

	</td><td>
	<img id='webtronics_file' title="file menu" src="buttons/openmenu.png"></td>
	<td>
		<fieldset>	
			<legend>Circuit</legend>
			<img id="webtronics_analysis" class="normal_button" title="analysis" src="buttons/analysis.png">
			<img id="webtronics_netlist" class="normal_button" title="view the netlist" src="buttons/netlist.png">
			<!--	<img id="webtronics_run" class="normal_button" title="run spice" src="buttons/run.png">   -->
			<img id="webtronics_chips_open" class="normal_button" title="make chips" src="buttons/icbut.png">
			<img id="webtronics_delete" class="normal_button" title="Delete selected shape" src="buttons/delete.png">
			<img id="webtronics_text" class="normal_button" title="add text" src="buttons/text.png">

		</fieldset>
		<fieldset>
			<legend>History</legend>			
			<img id="webtronics_undo" class="normal_button" title="undo last action" src="buttons/undo.png">
			<img id="webtronics_redo" class="normal_button" title="redo last action" src="buttons/redo.png">
		</fieldset>
		<fieldset>
			<legend>Settings</legend>			
			<form> 
				<table  border="0" cellpadding="0" cellspacing="0">				
					<tr>
						<td><input id="webtronics_connections" type="checkbox"></td><td> connections</td>
						<td><input id="webtronics_graph" type="checkbox"></td><td>graph</td>           
					</tr>
					<tr>
						<td><input type="checkbox" id="webtronics_invert"></td><td>invert</td>
						<td><input type="checkbox" id="webtronics_showhelp"></td><td>help</td>
					</tr>
				</table>         
			</form>
		</fieldset>
	</td></tr></table>
</div>
<!--part selection menu -->
<div id="webtronics_center" >
	<div id="webtronics_side_bar" >
		<div id="webtronics_parts_list" >

		</div>	


		
		<!--
		<br>	
		<a href="https://github.com/FOSSEE/eSimWebApp" target="_blank" >Fossee</a><br>
		-->
		
	</div>
<!--    
tab area

    <div id="webtronics_tab_area"></div>
-->
<!--
display area
-->



<div id="webtronics_diagram_area" >
	


</div>






</div>
<!--
status bar
-->

<div id="webtronics_footer">


	<p align="center">&copy; 2016 FOSSEE, IIT Bombay</p>

</div>



<div id='webtronics_disable'></div>
<!--
make chips
-->

<div id="webtronics_chips_box" class='modal'>
	<div id="webtronics_chip_display" ></div>
	<form name="webtronics_chips_form" >
		<fieldset>
			<legend>pin count</legend>
			<select id="webtronics_vert_pins"></select>
			<select id="webtronics_hor_pins"></select>
		</fieldset>
		<br/>
		<fieldset>
			<legend>model</legend>
			<input id="webtronics_chip_spice"><br/>
			<select size=5 id="webtronics_chip_spice_select">
				<option value="">none</option>
			</select>
		</fieldset>
	</form>
	<img id="webtronics_chip_ok" class="normal_button" src="buttons/ok.png">
	<img id="webtronics_chip_cancel" class="normal_button" src="buttons/cancel.png">
</div>



<div id="webtronics_plot_box" class='modal'>
	
	<div id="webtronics_plot_area">
		<div id="webtronics_graph_display"></div>
		<div id="plot_details">
			<p id="webtronics_plot_keys"></p>
			<form id = "get_xy_form">
				<table>
					<tr><td>
						<input id ="abscissa_submit" type="button" value="Enter Abscissa" >
						<input id="abscissa_value" type="text" required>	
    				</td></tr>
 					<tr>  <td> 
 						<input id ="ordinate_submit" type="button" value="Enter Ordinate" >
 		    			<input id="ordinate_value" type="text" required>
       				</td></tr>
    			</table>    
			</form>
			<input id ="plot_graph" type="button" value="Plot Graph" >
		</div>
	</div>
	<img id="webtronics_plot_cancel" class="normal_button" src="buttons/cancel.png">
	</div>







<!--
add text
-->

<div id="webtronics_add_text" class='modal'>
	<textarea cols="50" rows="4" id="webtronics_comment"></textarea>
</div>
<!--
properties form
-->
<div id="webtronics_properties_div" class='modal'>
	<form name="webtronics_properties_form">
		<table>
		<tbody id="modelid">
					<tr><td>
		<fieldset>
		
			<legend>part id</legend>    
			<input id="webtronics_part_id"><br>
		
		</fieldset>
		</td></tr>

		</tbody>	

		<tbody id="models">
		<tr id="valuemodel"><td>
		<fieldset > 
		
			<legend>value or model</legend>    
			<input id="webtronics_part_value">
			<select id="webtronics_part_model">
				<option value="">none</option>	
			</select>
		
		</fieldset>
		</td></tr><tr id="directive"><td>
		<fieldset >
		
			<legend>spice directive</legend>    
			<input id="webtronics_part_dir_value">
			<select id="webtronics_part_dir_model">
				<option value="">none</option>	
			</select>
		
		</fieldset>
		</td></tr><tr id="webtronics_amplitude"><td>
		<fieldset >
		
			<legend>Amplitude</legend>    
			<input id="webtronics_amplitude_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_phase"><td>

		<fieldset >
		
			<legend>Phase</legend>    
			<input id="webtronics_phase_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_offsetvoltage"><td>
		
		<fieldset >
				
			<legend>Offset Voltage VO:</legend>    
			<input id="webtronics_offsetvoltage_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_voltageamplitude"><td>

		<fieldset >
		
			<legend>Voltage Amplitude VA:</legend>    
			<input id="webtronics_voltageamplitude_value" type="text" value="0" >
		
		</fieldset>
		</td></tr><tr id="webtronics_frequency"><td>

		<fieldset >
		
			<legend>Frequency FREQ:</legend>    
			<input id="webtronics_frequency_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_delaytime"><td>

		<fieldset >
		
			<legend>Delay Time TD:</legend>    
			<input id="webtronics_delaytime_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_dampingfactor"><td>

		<fieldset >
		
			<legend>Damping Factor THETA:</legend>    
			<input id="webtronics_dampingfactor_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_print_dir_field"><td>
		

		<fieldset >
			
			<legend>measurements</legend>    
			<input id="webtronics_print_dir_value">
		
		</fieldset>
		</td></tr>
			<!--
			pulse source properties
			-->

		<tr id="webtronics_pulval1"><td>
		<fieldset >
		
			<legend>Initial Value V1:</legend>    
			<input id="webtronics_pulval1_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pulval2"><td>

		<fieldset >
		
			<legend>Pulse Value V2:</legend>    
			<input id="webtronics_pulval2_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pulval3"><td>
		
		<fieldset >
				
			<legend>Delay Time TD:</legend>    
			<input id="webtronics_pulval3_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pulval4"><td>

		<fieldset >
		
			<legend>Rise Time TR:</legend>    
			<input id="webtronics_pulval4_value" type="text" value="0" >
		
		</fieldset>
		</td></tr><tr id="webtronics_pulval5"><td>

		<fieldset >
		
			<legend>Fall Time TF:</legend>    
			<input id="webtronics_pulval5_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pulval6"><td>

		<fieldset >
		
			<legend>Pulse Width PW:</legend>    
			<input id="webtronics_pulval6_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pulval7"><td>

		<fieldset >
		
			<legend>Pulse Width PER:</legend>    
			<input id="webtronics_pulval7_value" type="text" value="0">
		
		</fieldset>
		</td></tr>


		<!--for pwl voltage source
		-->

<tr id="webtronics_pwlval1"><td>
		<fieldset >
		
			<legend>Time T1:</legend>    
			<input id="webtronics_pwlval1_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pwlval2"><td>

		<fieldset >
		
			<legend>Voltage Value V1:</legend>    
			<input id="webtronics_pwlval2_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pwlval3"><td>
		
		<fieldset >
				
			<legend>Time T2:</legend>    
			<input id="webtronics_pwlval3_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pwlval4"><td>

		<fieldset >
		
			<legend>Voltage Value V2:</legend>    
			<input id="webtronics_pwlval4_value" type="text" value="0" >
		
		</fieldset>
		</td></tr><tr id="webtronics_pwlval5"><td>

		<fieldset >
		
			<legend>Time T3:</legend>    
			<input id="webtronics_pwlval5_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pwlval6"><td>

		<fieldset >
		
			<legend>Voltage Value V3:</legend>    
			<input id="webtronics_pwlval6_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pwlval7"><td>

		<fieldset >
		
			<legend>Time T4:</legend>    
			<input id="webtronics_pwlval7_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_pwlval8"><td>

		<fieldset >
		
			<legend>Voltage Value V4:</legend>    
			<input id="webtronics_pwlval8_value" type="text" value="0">
		
		</fieldset>
		</td></tr>

		<!--for exponential voltage source
		-->

<tr id="webtronics_eval1"><td>
		<fieldset >
		
			<legend>Initial Value V1:</legend>    
			<input id="webtronics_eval1_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_eval2"><td>

		<fieldset >
		
			<legend>Pulse Value V2:</legend>    
			<input id="webtronics_eval2_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_eval3"><td>
		
		<fieldset >
				
			<legend>Rise Time Delay TD1:</legend>    
			<input id="webtronics_eval3_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_eval4"><td>

		<fieldset >
		
			<legend>Rise Time Constant TAU1:</legend>    
			<input id="webtronics_eval4_value" type="text" value="0" >
		
		</fieldset>
		</td></tr><tr id="webtronics_eval5"><td>

		<fieldset >
		
			<legend>Fall Time Delay TD2:</legend>    
			<input id="webtronics_eval5_value" type="text" value="0">
		
		</fieldset>
		</td></tr><tr id="webtronics_eval6"><td>

		<fieldset >
		
			<legend>Fall Time Constant TAU2:</legend>    
			<input id="webtronics_eval6_value" type="text" value="0">
		
		</fieldset>
		</td></tr>

		<!-- Digital -->
		<tr id="webtronics_risedelay"><td>
		<fieldset>
		
			<legend>Rise Delay:</legend>    
			<input id="webtronics_risedelay_value" type="text" value="1.0e-9">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_falldelay"><td>
		<fieldset>
		
			<legend>Fall Delay:</legend>    
			<input id="webtronics_falldelay_value" type="text" value="1.0e-9">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_inputload"><td>
		<fieldset>
		
			<legend>Input Load:</legend>    
			<input id="webtronics_inputload_value" type="text" value="0.5e-12">
		
		</fieldset>
		</td></tr>
		</tbody>

		<tbody id="analogs">
			
		<tr id="webtronics_inoffset" class="analog" ><td>
		<fieldset>
		
			<legend>Inoffset:</legend>    
			<input id="webtronics_inoffset_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_gain" class="analog"><td>
		<fieldset>
		
			<legend>Gain:</legend>    
			<input id="webtronics_gain_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_outoffset" class="analog"><td>
		<fieldset>
		
			<legend>Outoffset:</legend>    
			<input id="webtronics_outoffset_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_ingain" class="analog"><td>
		<fieldset>
		
			<legend>Ingain:</legend>    
			<input id="webtronics_ingain_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_outgain" class="analog"><td>
		<fieldset>
		
			<legend>Outgain:</legend>    
			<input id="webtronics_outgain_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_denoffset" class="analog"><td>
		<fieldset>
		
			<legend>Denominatoroffset:</legend>    
			<input id="webtronics_denoffset_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_dengain" class="analog"><td>
		<fieldset>
		
			<legend>DenominatorGain:</legend>    
			<input id="webtronics_dengain_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_numoffset" class="analog"><td>
		<fieldset>
		
			<legend>Numeratoroffset:</legend>    
			<input id="webtronics_numoffset_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_numgain" class="analog"><td>
		<fieldset>
		
			<legend>NumeratorGain:</legend>    
			<input id="webtronics_numgain_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_fraction" class="analog"><td>
		<fieldset>
		
			<legend>Fraction:</legend>    
			<input id="webtronics_fraction_value" type="text" value="FALSE">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_dendomain" class="analog"><td>
		<fieldset>
		
			<legend>Denominatordomain:</legend>    
			<input id="webtronics_dendomain_value" type="text" value="1.0e-10">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_denlowerlimit" class="analog"><td>
		<fieldset>
		
			<legend>DenominatorLowerlimit:</legend>    
			<input id="webtronics_denlowerlimit_value" type="text" value="1.0e-10">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_outlowerlimit" class="analog"><td>
		<fieldset>
		
			<legend>OutputLowerlimit:</legend>    
			<input id="webtronics_outlowerlimit_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_outupperlimit" class="analog"><td>
		<fieldset>
		
			<legend>OutputUpperlimit:</legend>    
			<input id="webtronics_outupperlimit_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>
		</td></tr>
		<tr id="webtronics_limitrange" class="analog"><td>
		<fieldset>
		
			<legend>limitrange:</legend>    
			<input id="webtronics_limitrange_value" type="text" value="1.0e-6">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_upperdelta" class="analog"><td>
		<fieldset>
		
			<legend>Upperdelta:</legend>    
			<input id="webtronics_upperdelta_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_lowerdelta" class="analog"><td>
		<fieldset>
		
			<legend>Lowerdelta:</legend>    
			<input id="webtronics_lowerdelta_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_indomain" class="analog"><td>
		<fieldset>
		
			<legend>Inputdomain:</legend>    
			<input id="webtronics_indomain_value" type="text" value="0.01">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_xarr" class="analog"><td>
		<fieldset>
		
			<legend>x elementarray:</legend>    
			<input id="webtronics_xarr_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_yarr" class="analog"><td>
		<fieldset>
		
			<legend>y elementarray:</legend>    
			<input id="webtronics_yarr_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_amodel" class="analog"><td>
		<fieldset>
		
			<legend>model:</legend>    
			<input id="webtronics_amodel_value" type="text" value="and">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_coff" class="analog"><td>
		<fieldset>
		
			<legend>Controloff:</legend>    
			<input id="webtronics_coff_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_con" class="analog"><td>
		<fieldset>
		
			<legend>Controlon:</legend>    
			<input id="webtronics_con_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_roff" class="analog"><td>
		<fieldset>
		
			<legend>Offresistance:</legend>    
			<input id="webtronics_roff_value" type="text" value="1.0e12">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_ron" class="analog"><td>
		<fieldset>
		
			<legend>Onresistance:</legend>    
			<input id="webtronics_ron_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_log" class="analog"><td>
		<fieldset>
		
			<legend>Log:</legend>    
			<input id="webtronics_log_value" type="text" value="TRUE">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_vbreak" class="analog"><td>
		<fieldset>
		
			<legend>Breakdownvoltage:</legend>    
			<input id="webtronics_vbreak_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_ibreak" class="analog"><td>
		<fieldset>
		
			<legend>Breakdowncurrent:</legend>    
			<input id="webtronics_ibreak_value" type="text" value="2.0e-2">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_irev" class="analog"><td>
		<fieldset>
		
			<legend>Reversecurrent:</legend>    
			<input id="webtronics_irev_value" type="text" value="1.0e-6">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_rbreak" class="analog"><td>
		<fieldset>
		
			<legend>Breakdownresistance:</legend>    
			<input id="webtronics_rbreak_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_limitswitch" class="analog"><td>
		<fieldset>
		
			<legend>limitswitch:</legend>    
			<input id="webtronics_limitswitch_value" type="text" value="FALSE">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_isat" class="analog"><td>
		<fieldset>
		
			<legend>Saturationcurrent:</legend>    
			<input id="webtronics_isat_value" type="text" value="1.0e-12">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_nfor" class="analog"><td>
		<fieldset>
		
			<legend>Forwardemission coefficient:</legend>    
			<input id="webtronics_nfor_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>


		<tr id="webtronics_rsource" class="analog"><td>
		<fieldset>
		
			<legend>Sourcingresistance:</legend>    
			<input id="webtronics_rsource_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_rsink" class="analog"><td>
		<fieldset>
		
			<legend>Sinkingresistance:</legend>    
			<input id="webtronics_rsink_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_ilimitsource" class="analog"><td>
		<fieldset>
		
			<legend>CurrentSourcingLimit:</legend>    
			<input id="webtronics_ilimitsource_value" type="text" value="1.0e-3">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_ilimitsink" class="analog"><td>
		<fieldset>
		
			<legend>CurrentSinkingLimit:</legend>    
			<input id="webtronics_ilimitsink_value" type="text" value="1.0e-3">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_vpwr" class="analog"><td>
		<fieldset>
		
			<legend>UpperlowerPower Range:</legend>    
			<input id="webtronics_vpwr_value" type="text" value="1.0e-6">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_isource" class="analog"><td>
		<fieldset>
		
			<legend>SourceCurrent Smoothingrange:</legend>    
			<input id="webtronics_isource_value" type="text" value="1.0e-9">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_isink" class="analog"><td>
		<fieldset>
		
			<legend>SinkCurrent Smoothingrange:</legend>    
			<input id="webtronics_isink_value" type="text" value="1.0e-9">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_routdomain" class="analog"><td>
		<fieldset>
		
			<legend>VoltageDelta Smoothingrange:</legend>    
			<input id="webtronics_routdomain_value" type="text" value="1.0e-9">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_inlow" class="analog"><td>
		<fieldset>
		
			<legend>Inputlowvalue:</legend>    
			<input id="webtronics_inlow_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_inhigh" class="analog"><td>
		<fieldset>
		
			<legend>InputHighvalue:</legend>    
			<input id="webtronics_inhigh_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_hyst" class="analog"><td>
		<fieldset>
		
			<legend>Hysteresis:</legend>    
			<input id="webtronics_hyst_value" type="text" value="0.1">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_outic" class="analog"><td>
		<fieldset>
		
			<legend>OutputInitialCondition:</legend>    
			<input id="webtronics_outic_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_numcoeff" class="analog"><td>
		<fieldset>
		
			<legend>NumeratorCoefficient:</legend>    
			<input id="webtronics_numcoeff_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_dencoeff" class="analog"><td>
		<fieldset>
		
			<legend>DenominatorCoefficient:</legend>    
			<input id="webtronics_dencoeff_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_intic" class="analog"><td>
		<fieldset>
		
			<legend>IntegratorStageInitialCondition:</legend>    
			<input id="webtronics_intic_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_denormfreq" class="analog"><td>
		<fieldset>
		
			<legend>Denormalizedfrequency:</legend>    
			<input id="webtronics_denormfreq_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>
		</td></tr>
		<tr id="webtronics_riseslope" class="analog"><td>
		<fieldset>
		
			<legend>MaxRiseSlope:</legend>    
			<input id="webtronics_riseslope_value" type="text" value="1.0e9">
		
		</fieldset>
		</td></tr>
		</td></tr>
		<tr id="webtronics_fallslope" class="analog"><td>
		<fieldset>
		
			<legend>MaxFallSlope:</legend>    
			<input id="webtronics_fallslope_value" type="text" value="1.0e9">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_outlow" class="analog"><td>
		<fieldset>
		
			<legend>Outputlowvalue:</legend>    
			<input id="webtronics_outlow_value" type="text" value="-1.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_outhigh" class="analog"><td>
		<fieldset>
		
			<legend>OutputHighvalue:</legend>    
			<input id="webtronics_outhigh_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_cntlarr" class="analog"><td>
		<fieldset>
		
			<legend>ControlArray:</legend>    
			<input id="webtronics_cntlarr_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_freqarr" class="analog"><td>
		<fieldset>
		
			<legend>FrequencyArray:</legend>    
			<input id="webtronics_freqarr_value" type="text" value="1.0e3">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_duty" class="analog"><td>
		<fieldset>
		
			<legend>DutyCycle:</legend>    
			<input id="webtronics_duty_value" type="text" value="0.5">
		
		</fieldset>
		</td></tr>


		<tr id="webtronics_risetime" class="analog"><td>
		<fieldset>
		
			<legend>OutputRiseTime:</legend>    
			<input id="webtronics_risetime_value" type="text" value="1.0e-9">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_falltime" class="analog"><td>
		<fieldset>
		
			<legend>OutputFallTime:</legend>    
			<input id="webtronics_falltime_value" type="text" value="1.0e-9">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_clktrig" class="analog"><td>
		<fieldset>
		
			<legend>ClockTriggerValue:</legend>    
			<input id="webtronics_clktrig_value" type="text" value="0.5">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_pwarr" class="analog"><td>
		<fieldset>
		
			<legend>PulseWidthArray:</legend>    
			<input id="webtronics_pwarr_value" type="text" value="1.0e-6">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_ptrig" class="analog"><td>
		<fieldset>
		
			<legend>PositiveEdgeTrigger:</legend>    
			<input id="webtronics_ptrig_value" type="text" value="TRUE">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_rdelay" class="analog"><td>
		<fieldset>
		
			<legend>OutputTriggerDelay:</legend>    
			<input id="webtronics_rdelay_value" type="text" value="1.0e-9">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_fdelay" class="analog"><td>
		<fieldset>
		
			<legend>Outputpwdelay:</legend>    
			<input id="webtronics_fdelay_value" type="text" value="1.0e-9">
		
		</fieldset>
		</td></tr>

		<tr id="webtronics_rmax" class="analog"><td>
		<fieldset>
		
			<legend>MaximumResistance:</legend>    
			<input id="webtronics_rmax_value" type="text" value="10000.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_rmin" class="analog"><td>
		<fieldset>
		
			<legend>MinimumResistance:</legend>    
			<input id="webtronics_rmin_value" type="text" value="10.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_rinit" class="analog"><td>
		<fieldset>
		
			<legend>InitialResistance:</legend>    
			<input id="webtronics_rinit_value" type="text" value="7000.0">
		
		</fieldset>
		</td></tr>
				<tr id="webtronics_vt" class="analog"><td>
		<fieldset>
		
			<legend>Threshold:</legend>    
			<input id="webtronics_vt_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_alpha" class="analog"><td>
		<fieldset>
		
			<legend>ModelParameter1:</legend>    
			<input id="webtronics_alpha_value" type="text" value="0.0">
		
		</fieldset>
		</td></tr>
		<tr id="webtronics_beta" class="analog"><td>
		<fieldset>
		
			<legend>ModelParameter2:</legend>    
			<input id="webtronics_beta_value" type="text" value="1.0">
		
		</fieldset>
		</td></tr>
		</tbody>


		</table>

		<!--**OPEN LOCAL SPICE MODELS EXPERIMENT<input id="webtronics_part_file" type="file"/>-->
	</form>
	<div class="webtronics_help">
		spice:
		<pre id="webtronics_part_help">
		</pre>
	</div>

	<div id="webtronics_properties_buttons">
		<img id="webtronics_properties_ok" class="normal_button" src="buttons/ok.png"> 
		<img id="webtronics_properties_cancel" class="normal_button" src="buttons/cancel.png">
	</div>


</div>

<!--
select source server
-->
<div id="webtronics_add source" class='modal'>
	<div>
		<input class="webtronics_add_source_input" /></br>
		<input class="webtronics_add_source_input" /></br>
		<input class="webtronics_add_source_input" /></br>
		<input class="webtronics_add_source_input" /></br>
		<input class="webtronics_add_source_input" />
	</div></br>
	<div class="webtronics_help" ></br>
		<pre>
			sources can be local or remote

			webtronix_server is the default server parts

			remote sources must start with http://

			local source are absolute

			/local/source/webtronix_server

		</pre>
	</div></br>
	<img id="webtronics_add source_ok" src="buttons/ok.png"> 
	<img id="webtronics_add_source_cancel" src="buttons/cancel.png">
</div>


<!--
add code text
-->

<div id="webtronics_open_text" class='modal'>
	<textarea cols="50" rows="4" id="webtronics_svg_code"></textarea>
	<img id="webtronics_open_text_ok" src="buttons/ok.png"> 
	<img id="webtronics_open_text_cancel" src="buttons/cancel.png">
</div>






<div  id="webtronics_netlist_analysis" class='modal'>

	<br>

	<br>

	<br>

	<br>
	<br>


	<select id="analysis_selectbox" class="exclude_button"><br>
		<option  selected="selected" value="3">Transient</option>
		<option value="1">DC</option>
		<option value="2">AC</option>
		
		<!--	<option value="4">Four</option> -->	
	</select>


	<!------------------------- AC MENU FORM AND DIV  -------------------------------------------------------------------------------------------------------------->


	<div id = "ac_menu" display: none;> 




		<div id="inputbox_ac" display: table;>

			<form >
				<table>

					<tr>
						<td>
							<label for="dummy1">Start Frequency</label>
							<input type="number" id="startfreqval" pattern="[0-9]{3}" min="0"  name="Start Frequency">
						</td>

						<td>
							<select id="start_frequency_selectbox" class="exclude_button">
								<!-- <option value=""  selected="selected"> Start Frequency Units</option>						 -->
								<option selected="selected" value="1">Hz</option>
								<option value="2">THz</option>
								<option value="3">GHz</option>
								<option value="4">Meg</option>
								<option value="5">KHz</option>
							</select>
						</td>
					</tr>

					<tr>
						<td>
							<label for="dummy2">Stop Frequency</label>
							<input type="number" id="stopfreqval" pattern="[0-9]{3}" min="0" name="Stop Frequency" >
						</td>
						<td>
							<select id="stop_frequency_selectbox" class="exclude_button">
							<!-- <option value=""  selected="selected">Stop Frequency Units</option> -->
								<option selected="selected" value="1">Hz</option>
								<option value="2">THz</option>
								<option value="3">GHz</option>
								<option value="4">Meg</option>
								<option value="5">KHz</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label for="dummy3">Number Of Points</label>
							<input type="number" id="noofpointsval" min="0" pattern="[0-9]{3}" name="No of Points">
						</td>
						<td>
							<select id="scale_selectbox" class="exclude_button">
							<!-- 	<option value=""  selected="selected">Scale</option> -->
								<option selected="selected" value="1">Lin</option>
								<option value="2">Dec</option>
								<option value="3">Oct</option>

							</select>
						</td>
					</tr>
				</table>
				<input id ="saveac" class="view_netlist" type="button" value="save" >

				<input id ="webtronics_netlist_cancela" class="button_cancel" type="button" value="cancel" ><br>

			</form>

		</div>

	</div>



	<!----------------------------------------- TRANSIENT MENU FORM AND DIV ------------------------------------------------------------> 




	<div id="transient_menu" display: none;>

		<div id="inputbox_transient" display: table;>


			<form >
				<table>

					<tr>
						<td>
							<label for="dummy1">Start Time</label>
							<input type="number" id="start_time" pattern="[0-9]{3}" min="0" name="Start Time">

							<select id="start_time_selectbox" class="exclude_button">
								<!-- <option value=""  selected="selected">Start Time units</option>							 -->
								<option  selected="selected" value="1">ms</option>
								<option value="2">us</option>
								<option value="3">ns</option>
								<option value="4">ps</option>				
							</select>
						</td>
					</tr>


					<tr>
						<td>
							<label for="dummy2">Step Time</label>
							<input type="number" id="step_time" pattern="[0-9]{3}" min="0"  name="Step Time" >


							<select id="step_time_selectbox" class="exclude_button">
								<!-- <option value="" selected="selected">Step Time units</option>						 -->
								<option selected="selected" value="1">ms</option>
								<option value="2">us</option>
								<option value="3">ns</option>
								<option value="4">ps</option>				
							</select>
						</td>
					</tr>

					<tr>
						<td>
							<label for="dummy3">Stop Time</label>
							<input type="number" id="stop_time" pattern="[0-9]{3}" min="0"  name="Stop Time">
							<select id="stop_time_selectbox" class="exclude_button">
								<!-- <option value=""  selected="selected">Stop Time units</option>							 -->
								<option selected="selected" value="1">ms</option>
								<option value="2">us</option>
								<option value="3">ns</option>
								<option value="4">ps</option>				
							</select>
						</td>
					</tr>
				</table>
				<input id ="savetransient" class="view_netlist" type="button" value="save" >
				<input id ="webtronics_netlist_cancelt" class="button_cancel" type="button" value="cancel" ><br>

			</form>
		</div>

	</div>

<!------------------------------------------------------------------------------------------------------------------------------------------------
DC MENU FORM AND DIV
-------------------------------------------------------------------------------------------------------------------------------------------->
<div id="dc_menu" display: none;>




	<div id="inputbox_dc" display: table;>

		<form >

          <!--  Source name: <input type="text" name="source" id ='sourceval' size="10"><br>
            Start      : <input type="text" name="start" id ='startval' size="10"><br>
            Increment  : <input type="text" name="increment" id ='incrementval' size="10"><br>
	    Stop       : <input type="text" name="stop" id = 'stopval' size="10"><br>  
	-->

	<table>
		<td>

			<label for="dummy1">Source name</label>
			<input type="text" id="sourceval" name="Source Name">

		</td>

		<tr>
			<td>
				<label for="dummy2">Start </label>
				<input type="number" id="startval" pattern="[0-9]{3}" min="0"  name="Start" >

				<select id="start_volt_selectbox" class="exclude_button">
					<!-- <option value=""  selected="selected">Start Time Units</option>					 -->
					<option selected="selected" value="1">Volts or Amperes</option>
					<option value="2">mV or mA</option>
					<option value="3">uV or uA</option>
					<option value="4">nV or nA</option>
					<option value="5">pV or pA</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>

				<label for="dummy3">Incrememnt</label>
				<input type="number" id="Incrementval" pattern="[0-9]{3}" min="0"  name="Increment">


				<select id="inc_volt_selectbox" class="exclude_button">
					<!-- <option value=""  selected="selected">Increment Time Units</option>					 -->
					<option selected="selected" value="1">Volts or Amperes</option>
					<option value="2">mV or mA</option>
					<option value="3">uV or uA</option>
					<option value="4">nV or nA</option>
					<option value="5">pV or pA</option>
				</select>
			</td>
		</tr>

		<tr>
			<td>
				<label for="dummy4">Stop </label>
				<input type="number" id="stopval" pattern="[0-9]{3}" min="0"  name="Stop">

				<select id="stop_volt_selectbox" class="exclude_button">
					<!-- <option value="" selected="selected">Stop Time Units</option>	 -->				
					<option selected="selected" value="1">Volts or Amperes</option>
					<option value="2">mV or mA</option>
					<option value="3">uV or uA</option>
					<option value="4">nV or nA</option>
					<option value="5">pV or pA</option>
				</select>
			</td>
		</tr>
	</table>

	<input id ="savedc" class="view_netlist" type="button" value="save" >
	<input id ="webtronics_netlist_canceld" class="button_cancel" type="button" value="cancel" ><br>

</form>

</div>
</div>

<div id="domchange">  </div>

</div>


<!--
netlist display
-->

<div id="webtronics_netlist_text" class='modal'>

	<div class="webtronics_help" >
		<pre>
			convergence:

			increase or decrease step size
			or try adding

			.options dampstrategy=2

		</pre>
	</div>




	<br><br>
	<div id="webtronics_netlist_text_div" ></div>
	<br><br>



	<div id="webtronics_netlist_buttons">
		<!--<img id="webtronics_netlist_text_run" class="normal_button" src="buttons/run.png"> -->
		<img id="webtronics_netlist_text_ok" class="normal_button" src="buttons/cancel.png">


		<img id="webtronics_netlist_simulate" class="normal_button"  src="buttons/run.png">
		<img id="webtronics_netlist_text_download" class="normal_button"  src="buttons/download.png">



	</div>
</div>












</div>



<!--
code for select options of analysis 
-->
<!--
simulation display
-->
<div id="webtronics_scope_display" class="modal" >
	<div id="webtronics_scope_display_div"></div>
	<img id="webtronics_scope_display_ok" class="normal_button" title="close simulation" src="buttons/cancel.png">
	<img id="webtronics_scope_display_stop"  class="normal_button" title="stop simulation" src="buttons/process-stop.png">
	<form>
		<input id="webtronics_scope_output_log" type="radio" name="scope_output" >log<br>
		<input id="webtronics_scope_output_graph" type="radio" name="scope_output" value="graph">graph
	</form>
	<br>
	<div id="webtronics_scope_footer">
		<p id="webtronics_scope_data" ></p> 
		<p id="webtronics_scope_status" >DOWNLOADING GNUCAP</p> 
	</div> 
</div>




</div>



<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="script/form.js"></script>

</body>



</html>
